.HeaderBox {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 2em;
    background-color: #1f7a8c;
    color: #fff;
}

.HeaderBox-Subtitle {
    color: #eaeaea;
    font-size: medium;
}
