.FooterBox{
    width: 100%;
    background-color: #1f7a8c;
    color: #fff;
    bottom:0;
    position:relative;
    height:125px;
    margin-top:250px;
    padding-top:10px;
}

.FooterBox-Subtitle {
    color: #eaeaea;
    font-size: medium;
}